/*COMMON ELEMENTS USED IN ALL TEMPLATES*/

body {
background:#ededeb;
text-align: center;
margin:0px;
padding:0px;
}

table
{ 
padding:0px;
margin:0px;
}

#bannertop {
margin-left:auto;
margin-right:auto;
background-image:url(images/bannertop.png);
background-repeat:repeat-x;
border:1px solid #000000;
display: inline-block;
}
#white{
color:#ffffff;
}
#accepted{
color:#006600;
}

#wrapper {
margin-left:auto;
margin-right:auto;
padding:5px;
border:0px solid #021a40;
}
#mainwrapper {
margin-left:auto;
margin-right:auto;
background-repeat:repeat-x;
padding:5px;
width:950px;
}

h1 {
font-family:georgia, times new roman, serif;
font-size:15px;
color:#85360f;
}

h2 {
font-family:georgia, times new roman, serif;
font-size:18px;color:#333333;
margin-bottom:0px;
}

h3 {
font-family:georgia, times new roman, serif;
font-size:12px;
color:#85360f;
}

h4 {
font-family:verdana,arial,sans-serif;
font-size:11px;
color:#85360f;
}

h5 {
font-family:verdana,arial,sans-serif;
font-size:11px;
color:#333333;
}

ul {
font-family:verdana,arial,sans-serif;
font-size:12px;
}

a {
font-size:12px;color:#006699;
font-family:Verdana,Arial,sans-serif;
text-decoration:none;
}

a:hover {
text-decoration:underline;
color:#666666;
}

fieldset {
width:400;
margin-left: auto;
margin-right: auto;
}

input {
    border: 1px solid #00f;
    background: #fff;
	vertical-align:middle;
}
input:hover {
    border: 1px solid #005;
    background: #ccc;
}

ui-slider-horizontal {
	width: 30em;
	margin: 0em 0em 1em 5em;
}
